* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  width: 100%;
}
h1,
h2,
h3 {
  font-family: "Alegreya Sans SC", sans-serif;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 500;
}
body {
  font-family: "Advent Pro", sans-serif;
  /* position: relative; */
  /* padding-top: 100px; */
}
.header {
  /* position: fixed; */
  width: 100%;
  /* top: 0; */
}
.header,
.footer {
  background-color: #eca809;
  min-height: 100px;
}
.header .container.flex {
  width: 100%;
  justify-content: start;
}
.logo.flex {
  gap: 1rem;
 /* max-width: 120px; */
 flex-wrap: nowrap;
}
nav {
  max-width: 110px;
  width: 100%;
  margin-left: auto;
}
.social img{
  width: 44px;
  height: 44px;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero.flex {
  justify-content: center;
  gap: 50px;
}
.products.flex {
  justify-content: center;
  gap: 30px;
}
.products article {
  max-width: 320px;
}

.slider {
  width: 300px;
  height: 375px;
  overflow: hidden;
  position: relative;
}

.slide {
  flex: 0 0 100%;
  position: absolute;
  top: 0;
  left: 100%;
  transition: transform 0.5s ease-in-out;
}
.slide img {
  width: 100%;
}

.slide:first-child {
  left: 0;
}

.slideControls {
  display: flex;
  justify-content: center;
}

.slide-control {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.slide-control.active {
  background-color: #eca809;
}

article p {
  text-align: justify;
}

.collapsible {
  overflow: hidden;
  height: 147px;
  cursor: pointer;
  position: relative;
  transition: height 0.3s ease;
}
.collapsible p, .collapsible ul {
  margin-bottom: 10px;
  line-height: 1.1;
}


.collapsible.expanded {
  height: auto;
}
.collapsible.expanded::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;  
  background-image: url(../images/chevron-up-outline.svg);
  background-size: cover;
  /* padding-left: 10px; */
  font-size: 20px;
  line-height: 0.5;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.collapsible::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff; 
  background-image: url(../images/chevron-down-outline.svg);
  background-size: cover;
  /* padding-left: 10px; */
  font-size: 20px;
  line-height: 0.5;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.collapsible.expanded::after {
  content: '';
}

.main section {
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.hero {
  border-bottom: 2px dotted #eca809;
}
.hero__left {
  max-width: 450px;
}
.hero__left p{
  margin-bottom: 12px;
}
.hero__left p a{
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
  background: #eca809;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.hero__right {
  max-width: 400px;
}
.hero__right img {
  width: 100%;
}
.products {
  align-items: start;
}
.products article{
  padding-left: 10px;
  padding-right: 10px;
}
.products__item {
}
.info {
  width: 100%;
}
.info a {
  font-size: 24px;
}
.price {
  font-size: 24px;
}
.footer section {
  width: 100%;
}
.footer section ul {
  justify-content: center;
  gap: 50px;
}
@media (max-width: 800px) {
  .slide-controls {
    display: none;
  }
  .logo.flex {
    
   max-width: 120px;
   
  }
}
